<table jput="t_template">
 <tbody jput="tbody_template">
     <tr>
         <td>{{code}}</td>
         <td>{{name}}</td>
     </tr>
 </tbody>
</table>

<table id="course_table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Course Code
      </th>
      <th>
        Course Name
      </th>
    </tr>
  </thead>
 <tbody id="tbody">
 </tbody>
</table>
