<%= form_tag search_courses_path, method: :get, class: "input", role: "search" do %>
    <div class='form-group'>
        <%= text_field_tag :search, params[:search], class: "form-control",id: "course_search", autocomplete: "off", placeholder: "Search for a course" %>
        <%= submit_tag "Search", name: nil, class: "btn btn-primary", method: :get %>
    </div>

<% end %>
