<%= stylesheet_link_tag "courses" %>
<h1>Search for a course!</h1>
<%= form_tag search_courses_path, method: :get, class: "input", role: "search" do %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
<% end %>
