<%= stylesheet_link_tag "courses.search" %>
<p>
  <strong>Results:</strong>

  <% @course.each do |course| %>
  <div class="col-lg-12 card">
  <%= course.course_code%><br/>
  <%= link_to "more info", course_path(course) %>
</div>
  <% end %>
</p>
