<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>
<p>
  <strong>Title:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @course.course_prof %>
</p>
