<table id="user-courses" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Course Code
            </th>
            <th>
                Course Name
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <% @course.each do |course| %>
        <tr>
            <td>
                <%= link_to course.course_code, course_path(course), method: :get%>
            </td>
            <td>
                <%= link_to course.course_name, course_path(course), method: :get%>
            </td>
            <td class="text-center">
                <%- if current_user  and current_user.courses.exists?(course.id) %>
                  <%= link_to 'unenroll', course_unenroll_path(course),class: "btn unenroll-button" ,id: "unenroll_"+course.id.to_s, method: :post %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
