/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require commontator/application
 */
@import "bootstrap.min";


 .enroll-button {
   text-transform: uppercase;
   border-color: #4090db;
   color: white;
   margin-left: 20px;
   &:visited, &:focus, &:hover {
     border-color: #2D6396;
     color: #2D6396;
   }
 }

 .unenroll-button {
   text-transform: uppercase;
   border-color: #66bd2b;
   background-color: #66bd2b;
   color: white;
   margin-left: 20px;
   &:visited, &:focus, &:hover {
     border-color: #47821F;
     background-color: #47821F;
     color: white;
   }
 }
