// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap.min";
@import "font-awesome.min";
@import "stylish-portfolio";

.text-invert{
  color:white;
}

.seebac{
  background-color: #666666;
  opacity: 0.5;

}

.seetext{
  opacity: 1.0;
}

.logo{
  position:relative;
  top: -7px;
  margin-right:10px;
  height: 40px;
  vertical-align:middle;
}
